xml/origin-xml/src/main/resources/mybatis-config.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT configuration (environments, mappers)>

<!ELEMENT environments (environment)+>

<!ELEMENT environment (dataSource)>

<!ELEMENT dataSource (property*)>
<!ATTLIST dataSource
type CDATA #REQUIRED
>

<!ELEMENT mappers (mapper)+>

<!ELEMENT mapper EMPTY>
<!ATTLIST mapper
resource CDATA #IMPLIED
url CDATA #IMPLIED
class CDATA #IMPLIED
>

<!ELEMENT property EMPTY>
<!ATTLIST property
name CDATA #REQUIRED
value CDATA #REQUIRED
>